<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 2024年历
    link(rel="stylesheet" href="/css/date24.css")
  body
    // 将 JSON 转换为单行字符串
    div#calendar.year-calendar(
      data-year="2024"
      data-dates='{"5.17":true,"5.18":true,"5.19":true,"6.7":true,"6.8":true,"6.9":true,"6.10":true,"6.22":true,"6.23":true,"7.19":true,"7.20":true,"7.21":true,"7.28":true,"7.29":true,"7.30":true,"7.31":true,"8.1":true,"8.2":true,"8.3":true,"8.4":true,"8.9":true,"8.10":true,"8.11":true,"8.24":true,"8.25":true,"9.7":true,"9.8":true,"9.14":true,"9.15":true,"9.16":true,"9.17":true,"10.6":true,"10.7":true,"10.18":true,"10.19":true,"10.20":true,"11.2":true,"11.3":true,"11.16":true,"11.17":true,"11.23":true,"12.7":true,"12.8":true,"12.21":true,"12.22":true,"12.31":true}'
    )
    script(src="/js/date.js")
  </body>
</html>